/*testing area*/

/*end testing area*/

/*general attributes*/
.parallax-container-small {
    height: 200px !important;}

.page-footer {
    overflow: hidden;
    padding-top: 10px;}

.page-footer {
    line-height: 1.2;}

/*nav classes */
.attention .btn {
    background-color: #44c26f;
    color: white;}

.attention .material-icons {
    color: white;}

nav {
    background-color: #eceff1;}

nav .material-icons {
    color: #616161; /*aka grey darken 2*/}

nav ul a {
    color: #616161;}

.sidenav li > a{
    color: #616161;}

.sidenav {
    background-color: white;}

/* colors, various */
.steelgrey {
    background-color: #eceff1;
    color: #616161;}

.tealgrey {
    background-color: #eceff1;
    color: teal;}

.whiteteal {
    background-color: #009688;
    color: white;}

.page-footer {
    color: #6F8694;
    background-color: #e2e6e9;}

/*cards*/
.card {
    background-color: #eceff1;}

.card .card-content a {
    color: teal;}

.card .card-content a:hover {
    background-color: #c6ecd3;}

.tabs .tab a{
    color: #616161;
    background-color:#eceff1;}

.tabs .tab a:focus, .tabs .tab a:focus.active {
    background-color: #44c26f;
    color: white;
    outline: none;}

.tabs .tab a.active {
    background-color: #44c26f;
    color: white;}

.tabs .tab a:hover{
    background-color:#44c26f;
    color:white;}

.tabs .indicator{
    background-color:teal;}