/*.anchor {padding-top: 40px; }*/
/*to do: tabs*/

/*!* old color scheme, reminder*/

.rounded {
    border-radius: 25px;
}

.page-footer{
    overflow: hidden;
    padding-top: 10px;
}

.page-footer{
    line-height: 1.2;
}



.parallax-container-small {
    position: relative;
    overflow: hidden;
    height: 200px;
}

.parallax-container-small .parallax {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.parallax-container-small .parallax img {
    opacity: 0;
    position: absolute;
    left: 50%;
    bottom: 0;
    min-width: 20%;
    min-height: 20%;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
/* End testing area  */

/*nav classes */

.attention .btn {
    background-color: #44c26f;
    color: white;
}

.attention .material-icons {
    color: white;
}

nav {
    background-color: #eceff1;
}

nav .material-icons {
    color: #616161; /*aka grey darken 2*/
}

nav ul a {
    color: #616161;
}

.sidenav li > a{
    color: #616161;
}

.sidenav {
    /*background-color: #eceff1;*/
    background-color: white;
}



/* colors, various */
.steelgrey {
    background-color: #eceff1;
    color: #616161;
}

.tealgrey {
    background-color: #eceff1;
    color: teal;
}

.whiteteal {
    background-color: #009688;
    color: white;
}

.page-footer {
    color: #6F8694;
    background-color: #e2e6e9;
}

/*cards*/

.card {
    background-color: #eceff1;
}

.card .card-content a {
    color: teal;
    /*background-color: #c6ecd3;*/
}

.card .card-content a:hover {
    background-color: #c6ecd3;
}

.tabs .tab a{
    color: #616161;
    background-color:#eceff1;
}


/*old colors*/
/*.tabs .tab a:focus, .tabs .tab a:focus.active {*/
    /*background-color: #c6ecd3;*/
    /*color: teal;*/
    /*outline: none;*/
/*}*/

/*.tabs .tab a.active{*/
/*background-color:#c6ecd3;*/
/*color:teal;*/
/*}*/

.tabs .tab a:focus, .tabs .tab a:focus.active {
    background-color: #44c26f;
    color: white;
    outline: none;
}


.tabs .tab a.active {
    background-color: #44c26f;
    color: white;
}


.tabs .tab a:hover{
    background-color:#44c26f;
    color:white;
}


.tabs .indicator{
    background-color:teal;
}

